<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token  %}
        <table border="1">
            <tr>
                <td>Email</td>
                <td><input type="email" required name="txt_email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" required name="txt_pass"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}