{% extends 'Admin/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View-Feedback</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mb-4">
                    <div class="card-header text-center">
                        <h3>User Feedback</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Si.No</th>
                                            <th>User Name</th>
                                            <th>Subject</th>
                                            <th>Content</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in usr %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{i.user.user_name}}</td>
                                            <td>{{i.feedback_title}}</td>
                                            <td>{{i.feedback_content}}</td>
                                            <td>{{i.feedback_date}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Master Feedback</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Si.No</th>
                                            <th>Master Name</th>
                                            <th>Subject</th>
                                            <th>Content</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in mast %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{i.master.master_name}}</td>
                                            <td>{{i.feedback_title}}</td>
                                            <td>{{i.feedback_content}}</td>
                                            <td>{{i.feedback_date}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}